<h1>Comment, Comrade! It fuels our cause!</h1>

<%= simple_form_for @comment, url: post_comments_path, :method => :post do |f| %>
  <%= f.input :title %>
  <%= f.input :body %>
  <br />
  <%= f.submit "Submit!", class: "btn btn-primary" %>
  <br />
<% end %>
